{% extends "capturaweb/base.html" %} {% load static %}
{% block title %}{{ grabadora }}{% endblock %}
{% block content %}
<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="container">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-title col-lg-8 col-sm-12">
                    <h3>
                        {% if ocupada %}
                        <label class="text-danger">GRABANDO</label>
                        <p>{{ titulo.0 }}</p>
                        {% else %}
                        <label class="text-success" style="display: inline;">ESPERANDO</label>
                        {% endif %}
                    </h3>
                </div>

                <div class="modal-title text-center col-lg-4 col-sm-12">
                    <h1 id="tiempos-container" class="text-danger display-2">00:00:00</h1>
                </div>

            </div>
            <form method="post" action="/">
                {% csrf_token %}
                <div class="row modal-title">
                    <div class="col-6">
                        <div class=" mt-2">
                            <div class="fieldWrapper">
                                {{ form.titulo.errors }}
                                {{ form.titulo.label_tag }}
                                {{ form.titulo }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 p-b-5">
                        <div class=" mt-2">
                            <div class="fieldWrapper">
                                {{ form.convertida.errors }}
                                {{ form.convertida.label_tag }}
                                {{ form.convertida }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 p-b-5">
                        <div class=" mt-2">
                            <div class="fieldWrapper">
                                {{ form.tipo_grabacion.errors }}
                                {{ form.tipo_grabacion.label_tag }}
                                {{ form.tipo_grabacion }}
                                {{ form.segmento }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-custom" name="rec"></button>
                    <button type="submit" class="btn btn-default btn-square" name="stop"></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<!--<script src="{% static 'js/leer.js' %}"></script>-->
{% endblock extrajs %}
{% block scripts %}
<script>
    $(document).ready(function() {
        function actualizarTiempos() {
        var contenidoHTML = '';
            $.ajax({
                url: 'get_tiempo',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    for (var i = 0; i < data.tiempos.length; i++) {
                        contenidoHTML += data.tiempos[i];
                    }
                    $('#tiempos-container').html('<p>' + contenidoHTML + '</p>');
                }
            });
        }

        setInterval(actualizarTiempos, 1000);
    });
</script>
{% endblock %}
