{% extends "capturaweb/layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Grabaciones Programadas</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Proximo Inicio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for grabacion in grabaciones %}
            <tr>
                <td>{{ grabacion.id }}</td>
                <td>{{ grabacion.next_run_time }}</td>
                <td>{{ grabacion.job_state }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}